<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:email]} type="text" label="Email*" />
  <:actions>
    <div class="mx-auto">
      <.button>Subscribe</.button>
    </div>
  </:actions>
</.simple_form>
