<h1>We're better than friends.</h1>
<h2>We're cookie friends</h2>
<p>Hey there, <%= @name %>,</p>
<p>What can we say. We're super excited to have you here, and we intend to reward you <i>handsomely</i>.</p>
<br/>
<br/>
<p>When our cookies are ready, you'll be the first to know</p>
<br/>
<p>Best, </p>
<p>Cookie Team</p>
